body { 
    margin:0; 
    padding:0;
    background-color:#f8f9fa;
     }


 .map-container #map {
    position: initial;
    top: 0;
    bottom: 0;
    height: 500px;
 }

 .map-container{
     display: inline-block;
     padding-right: 2px;

     
 }

 /* .mapboxgl-control-container {
     display: none;
 } */

 .concert-results{
     /* border: 1px black solid; */
     display:flex;
     /*float:left;*/
     width:1000px;
     overflow-y: auto;
     /* height: 120px; */
     border-top: 1px solid black;
 }

 .artist{
     display:flex;
     align-items: center;
     text-align:center;
     justify-content: center;
 }

 a.mapboxgl-ctrl-logo {
     margin-left: 10px;
 }

 .results-btn{
     background-color: #f8f9fa;
 }

ul{
    width: 200px;
    margin-top: 20px;
}

#tickets{
   color:#28a745;
}

#tickets:hover{
    color: #f8f9fa;
}
