body { 
    margin:0; 
    padding:0;
    background-color:#f8f9fa;
     }


 .map-container #map {
    position: initial;
    top: 0;
    bottom: 0;
    height: 500px;
 }

 .map-container{
     display: inline-block;
     padding-right: 2px;

     
 }

 /* .mapboxgl-control-container {
     display: none;
 } */

 .results{
     border: 1px black solid;
     float:left;
     width:1000px;
     overflow-y: auto;
     height: 120px;
     
    
     
 
 }

 a.mapboxgl-ctrl-logo {
     margin-left: 10px;
 }
