body { 
    margin:0; 
    padding:0; }


 .map-container #map {
    position: initial;
    top: 0;
    bottom: 0;
    height: 500px;
 }

 .map-container{
     display: block;
 }

 .mapboxgl-control-container {
     display: none;
 }